data Stackoverflow 2019
'/home/i7-workstation/Desktop/Mahcine learning starter python/Machine_learning-projects/pandas experimentation/data Stackoverflow 2019'/
*.csv
*.pdf
developerdat/
*.json
notes.txt
